- include_stylesheet 'admin/application'

%h1
  All Tags
  
- for tag in @tags
  %h2.content-title
    = h tag.tag
  .content-links
    %ul
      %li
        = link_to "#{image_tag ("admin/icons-small/edit.png", :border =>0, :title => 'Edit')}Edit", admin_tag_edit_path(tag.id)
      %li
        = link_to "#{image_tag ("admin/icons-small/delete.png", :border =>0, :title => 'Delete')}Delete", admin_tag_remove_path(tag.id), :confirm => "Are you sure?"
