%h1
  Portfolio
  
#new-page
  %p
    = link_to "#{image_tag ("admin/icons-small/add.png")} Add New Project", '/admin/projects/new'
    |
    = link_to "#{image_tag ("admin/icons-small/ok.png")} Show All Tags", '/admin/tags'
    |
    = link_to "#{image_tag ("admin/icons-small/add.png")} Add New Tag", '/admin/tags/new'