- include_stylesheet 'admin/application'
    
- for project in @projects
  %h2.content-title
    = h project.title
  .content-links
    %ul
      %li
        = link_to "#{image_tag ("admin/icons-small/ok.png", :border =>0, :title => 'Images')}Images", admin_project_show_path(project)
      %li
        = link_to "#{image_tag ("admin/icons-small/edit.png", :border =>0, :title => 'Edit')}Edit", admin_project_edit_path(project.id)
      %li
        = link_to "#{image_tag ("admin/icons-small/delete.png", :border =>0, :title => 'Delete')}Delete", admin_project_remove_path(project.id), :confirm => "Are you sure?"
    %ul
