<% content_for :p_company do %>
  <%=h @project.company %>
<% end %>

<% content_for :p_title do %>
  <%=h @project.title %>
<% end %>

<% content_for :p_body do %>
  <%= @project.body %>
  <% if @project.url? %>
    <p>
      <strong>Website URL: </strong><%=h @project.url %>
    </p>
  <% end %>
<% end %>

<% content_for :p_images do %>
  <div id="portfolio-image">
  		<% @project.images.each do |image| %>                                          
  	  	<li id="image_<%= image.id %>" class="position_<%= image.position %>">
  				<%= image_tag url_for_file_column(image, "location", "thumb") %>
  			</li>
  		<% end %>
  </div>

	<script type="text/javascript" charset="utf-8">
  			//flash gallery
  			var so = new SWFObject("/swf/slideshow.swf", "gallery", "500", "400", "8", "");
  			so.addParam("wmode", "transparent");
  			so.addVariable("xml_path", "/image/<%= @project.id %>")
  			so.write("portfolio-image");
  </script>
<% end %>

<% content_for :p_previous do %>

  <span class="button-left"><%= link_to("#{image_tag ("/images/project-prev.gif", :border =>0, :title => 'Previous Project')}", :id => @prev) unless @prev.nil? %></span>

<% end %>

<% content_for :p_next do %>
  <span class="button-right"><%= link_to("#{image_tag ("/images/project-next.gif", :border =>0, :title => 'Next Project')}", :id => @next) unless @next.nil? %></span>

<% end %>